ion-content{
    background-color: black;
}


h2{
    text-align: center;
    border-bottom: 1px solid black;
}

ion-label{
    font-weight: bold;
    color: black;
}

ion-button{
    align: center;
}